# Rust / Cargo
/target


# Node / Next.js
/node_modules
/.next
/out
/build
tsconfig.tsbuildinfo

# Cloudflare / OpenNext
/.open-next
/.wrangler
.env
.env.local
.env.production
.env.development
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Stellar CLI deployment keys
.stellar
*.wasm
